/* div {
  padding: 2px;
} */

#my-page {
  /* position: absolute; */
  /* top: 5px; */
  /* left: 5px; */
  /* right: 0px; */
  /* bottom: 0px; */
  /* overflow: scroll; */
  /* height: [[ page_height | auto ]]; */

  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  /* border: 15px dotted black; */

  /* background: [[image(my_image_id) | none ]]; */
  /* background: image("0") ; */
  background-size: contain;
  background-repeat: no-repeat;
}

.comic-book {
  /* flex-direction: row; */
  flex-direction: row-reverse;
  background-repeat: no-repeat;
}

.page {
  background-size: contain;
  background-repeat: no-repeat;
  background: [[ my_image | image("0") ]];
}

.help {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  color: white;

  background-color: rgba(0,0,0,0.8);
}